<app-spinner *ngIf="!users || !users.length"></app-spinner>
<div *ngIf="users && users.length"  class="container">
  <h2>Users</h2>
  <div class="users-container row">
    <div class="col-md-6 col-xl-3 p-2" *ngFor="let user of users">
      <app-user-card [user]="user"></app-user-card>
    </div>
  </div>
</div>
