<ng-template #loader>
  <app-spinner></app-spinner>
</ng-template>
<div class="form-container" *ngIf="users && users.length; else loader">
  <h2>Create New Task</h2>

  <form>
    <alert type="danger" *ngIf="isError">
      <strong>Error!</strong> Please fill all the fields.
    </alert>
    <alert type="success" *ngIf="showSuccessAlert">
      <strong>Success!</strong> {{successAlertMessage}}
    </alert>
    <div class="mb-3">
      <label for="message" class="form-label">Message</label>
      <input
        type="text"
        class="form-control"
        id="message"
        [(ngModel)]="task.message"
        name="message"
      />
    </div>
    <div class="mb-3">
      <label for="assigned_to" class="d-block form-label">Assign To </label>
      <div class="col-md-4 pl-xl-0">
        <div class="btn-group" dropdown>
          <button
            id="button-basic"
            dropdownToggle
            type="button"
            class="btn btn-primary dropdown-toggle"
            aria-controls="dropdown-basic"
          >
            {{ task.assigned_to && assignedUser ? assignedUser.name : "Select User" }}
            <span class="caret"></span>
          </button>
          <ul
            id="dropdown-basic"
            *dropdownMenu
            class="dropdown-menu"
            role="menu"
            aria-labelledby="button-basic"
          >
            <li
              *ngFor="let user of users"
              role="menuitem"
              (click)="assignUser(user)"
            >
              <app-user-card [user]="user"></app-user-card>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-4 pl-xl-0">
        <app-user-card
          *ngIf="task.assigned_to"
          [user]="this.assignedUser"
        ></app-user-card>
      </div>
    </div>
    <div class="mb-3">
      <label for="due_date" class="form-label">Due Date</label>
      <input
        type="date"
        placeholder="Datepicker"
        class="form-control"
        min="{{ date | date: 'yyyy-MM-dd' }}"
        (keydown)="onDateKeyDown()"
        name="due_date"
        [(ngModel)]="date"
      />
    </div>
    <div class="mb-3">
      <label for="priority" class="form-label">Priority</label>
      <div>
        <input
          type="radio"
          [(ngModel)]="task.priority"
          name="priority"
          id="low"
          value="1"
          class="priority-radio low"
        />
        <label class="btn btn-md btn-outline-success my-2 mr-2" for="low"
          >Low</label
        >
        <input
          type="radio"
          [(ngModel)]="task.priority"
          name="priority"
          id="Medium"
          value="2"
          class="priority-radio medium"
        />
        <label class="btn btn-md btn-outline-warning my-2 mr-2" for="Medium"
          >Medium</label
        >
        <input
          type="radio"
          [(ngModel)]="task.priority"
          name="priority"
          id="High"
          value="3"
          class="priority-radio high"
        />
        <label class="btn btn-md btn-outline-danger my-2 mr-2" for="High"
          >High</label
        >
      </div>
    </div>
    <button type="button" class="btn btn-primary mr-4" (click)="submitForm()">
      Submit
    </button>
    <button
      type="button"
      class="btn btn-warning text-white"
      (click)="resetForm()"
    >
      Clear
    </button>
  </form>
</div>
