.priority-radio {
  display: none;
  &:checked + label {
    color: #fff;
  }
  &.low:checked + label {
    background-color: #198754;
  }
  &.medium:checked + label {
    background-color: #ffc107;
  }
  &.high:checked + label {
    background-color: #dc3545;
  }
}

.dropdown-menu {
  ::ng-deep app-user-card {
    cursor: pointer;
    display: block;
    margin-bottom: 5px;
    img {
      &.img-thumbnail {
        max-width: 50px;
      }
    }
  }
}
