<div class="sidebar-container p-4">
    <h3>Task Manager</h3>
    <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" [routerLink]="'create-task'">Create Task</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="'/task-board'">Task Board</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="'/users'">Users</a>
        </li>
      </ul>
</div>