<ng-template #loader>
  <app-spinner></app-spinner>
</ng-template>
<div class="form-container" *ngIf="tasks && tasks.length; else loader">
  <div class="container">
    <h2>Task Board</h2>
    <div class="container mb-4">
      <div class="row">
        <div class="col-lg-2">
          Priority:
          <select
            class="form-select form-select-sm"
            aria-label=".form-select-sm example"
            [ngModel]="priorityFilter"
            (ngModelChange)="onPriorityFilterChange($event)"
          >
            <option value="all" selected>All</option>
            <option value="1">Low</option>
            <option value="2">Medium</option>
            <option value="3">High</option>
          </select>
        </div>
        <div class="col-lg-8 d-flex">
          <label >Date Range: From</label>
          <input
            type="date"
            class="date-control form-control"
            name="from_date"
            [ngModel]="fromDateFilter"
            (ngModelChange)="onFromDateChange($event)"
          />
          <label>To</label>
          <input
            type="date"
            class="date-control form-control"
            name="from_date"
            [ngModel]="toDateFilter"
            (ngModelChange)="onToDateChange($event)"
          />
        </div>
        <div class="col-lg-2">
          <button class="btn btn-primary" (click)="resetFilter()">Reset Filter</button>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 col-xl-3 p-2" *ngFor="let task of tasks">
        <div class="card prio-{{ task.priority }}">
          <div class="card-body">
            <h5 class="card-title">{{ task.message }}</h5>
            <h6 class="card-subtitle mb-2 text-muted">
              Due by {{ task.due_date }}
            </h6>
            Assignee
            <app-user-card
              class="user-card mb-4"
              [user]="getUser(task.assigned_to)"
            ></app-user-card>
            <a class="btn card-link text-success" (click)="onEdit(task)"
              >Edit</a
            >
            <a class="btn card-link text-danger" (click)="deleteTask(task.id)"
              >Delete</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
