.prio-{
    &1{
        border:2px solid #198754 ;
    }

    &2{
        border:2px solid #ffc107 ;
    }

    &3{
        border:2px solid #dc3545 ;
    }
}

::ng-deep {
    .user-card {
        img.img-thumbnail {
            width: 50px;
            border-radius: 50%;
        }
        .card {
            border: none;
            .user-name {
                font-size: 1.2rem;
                font-weight: 600;
            }
        }
    }
}
.date-control {
    max-width: 220px;
}